
$color-primary: #ef233c;
$color-light: #edf2f4;
$color-dark: #2b2d42;
$color-pokemon-yellow: #ffcb05;
$color-pokemon-lightblue: #3d7dca;
$color-pokemon-blue: #003a70;
$color-pokedex:#8dd8f5;
$color-poketyp:#fdb7b7;

$height-header: 82px;
$height-footer: 64px;

$font-text: "Montserrat", Arial, sans-serif;
