.inputText{
  margin-top:5px;
outline: none;
&:focus{
  border-color: #0366d6;
}
}
.form {
  margin: 200px auto;
  width: 300px;
  background-color: rgba(255, 203, 5, 0.1) ;
  padding: 20px;
  border: 1px solid #0366d6;
}
.button{
  border-radius: 12px;
  width: 300px;
  margin-top: 5px;

}
.errormsg{
  color: #ff4b01;
  margin-bottom: 10px;
}
ul{
  list-style: none;
  margin: 0;
}
.routerLink{
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: #0366d6;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}
